{% extends "base.html" %}
{% block title %}Admin Sign Up{% endblock %}

{% block header %}Admin Sign Up{% endblock %}

{% block page_content %}
<form method="POST">
    <br />
    <br />
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter email" />
    </div>
    <br />
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Enter password with at least 10 characters" />
    </div>
    <br />
    <div class="form-group">
        <label for="con_password">Confirm Password</label>
        <input type="password"
               class="form-control"
               id="con_password"
               name="con_password"
               placeholder="Enter password" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}