{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}Pattern Finder{% endblock %}

{% block page_content %}
<div class="d-flex justify-content-between">
    <div>
        <form method="POST">
            <br />
            <br />
            <div class="form-group">
                <label for="problem">Enter design problem:</label>
                <input type="text"
                       class="form-control"
                       id="problem"
                       name="problem"
                       placeholder="" />
            </div>
            <br />
            <div class="form-group">
                <label for="collection">Choose a design pattern collection: </label>
                <select name="collection" id="collection">
                    <option value="0">--Please choose an option--</option>
                    <option value="1">All</option>
                    <option value="2">Gang of Four</option>

                </select>
            </div>
            <br />
            <div class="form-group">
                <label for="source">Choose a digital library source: </label>
                <select name="source" id="source">
                    <option value="1">All</option>

                </select>
            </div>
            <br />
            <div class="form-group">
                <label for="preprocess">Choose what preprocessing to use: </label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="junkWords" name="junkWords">
                    <label class="form-check-label" for="junkWords">
                        Remove Junk Words
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="stem" name="stem">
                    <label class="form-check-label" for="stem">
                        Stem
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="tokenize" name="tokenize">
                    <label class="form-check-label" for="tokenize">
                        Tokenize
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="lemmatize" name="lemmatize">
                    <label class="form-check-label" for="lemmatize">
                        Lemmatize
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="extractNouns" name="extractNouns">
                    <label class="form-check-label" for="extractNouns">
                        Extract Nouns
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="extractVerbs" name="extractVerbs">
                    <label class="form-check-label" for="extractVerbs">
                        Extract Verbs
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="extractAdj" name="extractAdj">
                    <label class="form-check-label" for="extractAdj">
                        Extract Adjectives
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="synonymize" name="synonymize">
                    <label class="form-check-label" for="synonymize">
                        Synonymize
                    </label>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label for="vector">Choose what vectorizing to use: </label>
                <select name="vector" id="vector">
                    <option value="1">Default</option>
                    <option value="2">N-Gram</option>

                </select>
            </div>
            <br />
            <div class="form-group">
                <label for="cluster">Choose what clustering to use: </label>
                <select name="cluster" id="cluster">
                    <option value="1">K-Means</option>
                    <option value="2">Mini Batch K-Means</option>
                    <option value="3">Agglomerative</option>
                    <option value="4">DBSCAN</option>
                    <option value="5">Spectral</option>
                    <option value="6">Mean Shift</option>
                    <option value="7">Gaussian Mixture</option>
                    <option value="8">Fuzzy C-Means</option>

                </select>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div>
        <br />
        <br />
        <label for="patterns">Recommended Design Patterns</label>
        <ul name="patterns "class="list-group list-group-flush" id="patterns">
            {% for pattern in patterns %}
            <li class="list-group-item">
                <pre>{{ pattern }}</pre>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

