{% extends "base.html" %}
{% block title %}Admin Home{% endblock %}

{% block header %}Digital Library Manager{% endblock %}

{% block page_content %}
<ul class="list-group list-group-flush" id="libraries">
    {% for library in libraries %}
    <li class="list-group-item d-flex flex-wrap">
        {{ library }}
        <form class="mx-auto" method="POST">
            <input type="hidden" name="req" id="req" value="update" />
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <form class="mx-auto" method="POST">
            <input type="hidden" name="req" id="req" value="delete" />
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
